# Intel Axxia hardware board target machine: intel-axxia-snr or intel-axxia-grr
MACHINE = "intel-axxia-grr"

# Kernel providers: linux-intel, linux-intel-rt, linux-intel-debug, linux-intel-rt-debug
PREFERRED_PROVIDER_virtual/kernel = "linux-intel"

# Kernel versions: 5.15 (default) or 5.10
PREFERRED_VERSION_linux-intel = "5.15%"

# Add simics support (sources should be in meta-intel-distro/download)
# and set simics version to compile (mandatory).
#DISTRO_FEATURES:append = " simics"
#SIMICS_VERSION = ""

# Enable "multilib"
#DISTRO_FEATURES:append = " multilib"

# Choose GCC version: 13.% (gcc13). Default version: 11.%
#DISTRO_FEATURES:append = " gcc13"

# Enable settings for INTEL QSP System (for axxia-image-qsp image)
#DISTRO_FEATURES:append = " qsp"

# Release version should be the meta-intel-axxia repository tag from release note.
# RELEASE_VERSION = "" 

BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"

# Assume directories were created under TOPDIR
#DL_DIR ?= "${TOPDIR}/downloads"
#SSTATE_DIR ?= "${TOPDIR}/sstate-cache"
#TMPDIR = "${TOPDIR}/tmp"

DISTRO = "intel-axxia"
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"
PACKAGECONFIG:append:pn-qemu-system-native = " sdl"
CONF_VERSION = "2"

# For more options check meta-intel-distro layer for README and 
# conf/local.conf.sample.extended
