# Intel Axxia hardware board target machine: intel-axxia-snr or intel-axxia-grr
MACHINE = "intel-axxia-grr"

# Kernel providers: linux-intel, linux-intel-rt, linux-intel-debug, linux-intel-rt-debug
# linux-yocto, linux-yocto-rt, linux-yocto-debug, linux-yocto-rt-debug
PREFERRED_PROVIDER_virtual/kernel = "linux-intel"

# Add simics support (sources should be in meta-intel-distro/download)
# and set simics version to compile (mandatory).
#DISTRO_FEATURES:append = " simics"
#SIMICS_VERSION = ""

# Enable "multilib"
#DISTRO_FEATURES:append = " multilib"

# Choose GCC version: 9.% (gcc9) or 10.% (gcc10). Default version: 11.%
#DISTRO_FEATURES:append = " gcc9"

# Select the version of python3 to use: 3.9 (default), 3.8 or 3.6
#PYTHON_VERSION = "3.8"

# Release version should be the meta-intel-axxia repository tag from release note.
# RELEASE_VERSION = "" 

BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"

# Assume directories were created at the same level with poky
# DL_DIR = "##OEROOT##/../downloads"
# SSTATE_DIR = "##OEROOT##/../sstate_cache"

DISTRO = "intel-axxia"
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
PACKAGECONFIG:append_pn-qemu-native = " sdl"
PACKAGECONFIG:append_pn-nativesdk-qemu = " sdl"
CONF_VERSION = "1"

# For more options check meta-intel-distro layer for README and 
# conf/local.conf.sample.extended
