#.........................................................................
#                                WARNING
#
# This file is a kernel configuration fragment, and not a full kernel
# configuration file.  The final kernel configuration is made up of
# an assembly of processed fragments, each of which is designed to
# capture a specific part of the final configuration (e.g. platform
# configuration, feature configuration, and board specific hardware
# configuration).  For more information on kernel configuration, please
# consult the product documentation.
#
#.........................................................................

CONFIG_PROC_FS=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_LOOP_MIN_COUNT=8
CONFIG_BLK_DEV_CRYPTOLOOP=y

CONFIG_E1000=y
CONFIG_E1000E=y

CONFIG_HAVE_PERF_EVENTS=y
CONFIG_PERF_EVENTS=y

CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_TICK_ONESHOT=y
CONFIG_SCHED_HRTICK=y
# CONFIG_MISSED_TIMER_OFFSETS_HIST is not set

CONFIG_PROFILING=y

CONFIG_BSD_PROCESS_ACCT=y
CONFIG_BSD_PROCESS_ACCT_V3=y

CONFIG_I2C_AXXIA=y

