# Machines: axxiaarm, axxiaarm64, axxiax86-64
MACHINE = "axxiaarm64"

# Chipset required only for arm builds: 5500, X9, XLF
CHIPSET = "X9"

# Kernel providers: linux-yocto, linux-yocto-rt, linux-axxia, linux-axxia-rt
PREFERRED_PROVIDER_virtual/kernel = "linux-yocto"

# Kernel versions: 4.1, 4.8, 4.9
PREFERRED_VERSION_linux-yocto = "4.9%"

BB_NUMBER_THREADS = "12"
PARALLEL_MAKE = "-j 12"

# Assume directories were created at the same level with poky
# DL_DIR = "##OEROOT##/../downloads"
# SSTATE_DIR = "##OEROOT##/../sstate_cache"

DISTRO = "axxia"
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
PACKAGECONFIG_append_pn-qemu-native = " sdl"
PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"
CONF_VERSION = "1"

# For more options check meta-axxia layer for README and 
# conf/local.conf.sample.extended
