SUBSYSTEM=="net", ACTION=="add", DRIVERS=="igb", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:00", NAME="nac-eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:01", NAME="nac-eth1"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:02", NAME="nac-eth2"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:03", NAME="nac-eth3"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:04", NAME="nac-eth4"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:05", NAME="nac-eth5"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:06", NAME="nac-eth6"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:07", NAME="nac-eth7"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:08", NAME="nac-eth8"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:09", NAME="nac-eth9"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:0a", NAME="nac-eth10"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:0b", NAME="nac-eth11"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:0c", NAME="nac-eth12"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:0d", NAME="nac-eth13"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:0e", NAME="nac-eth14"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:0f", NAME="nac-eth15"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:10", NAME="nac-eth16"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:11", NAME="nac-eth17"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:12", NAME="nac-eth18"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="ice_sw", ATTR{address}=="00:a0:c9:00:01:13", NAME="nac-eth19"
