#.........................................................................
#                                WARNING
#
# This file is a kernel configuration fragment, and not a full kernel
# configuration file.  The final kernel configuration is made up of
# an assembly of processed fragments, each of which is designed to
# capture a specific part of the final configuration (e.g. platform
# configuration, feature configuration, and board specific hardware
# configuration).  For more information on kernel configuration, please
# consult the product documentation.
#
#.........................................................................

CONFIG_EDAC_AXXIA_SYSMEM_6700=y
CONFIG_EDAC_AXXIA_CMEM_6700=y
CONFIG_EDAC_AXXIA_L3_6700=y
CONFIG_EDAC_AXXIA_L2_CPU_6700=y

# CONFIG_EDAC_AXXIA_SYSMEM_5600 is not set
# CONFIG_EDAC_AXXIA_CMEM_5600 is not set
# CONFIG_EDAC_AXXIA_L3_5600 is not set
# CONFIG_EDAC_AXXIA_L2_CPU_5600 is not set

