MACHINE = "axxiax86-64"

# System where the image will run: snr, frio
RUNTARGET = "snr"

# Kernel providers: linux-intel, linux-intel-rt, linux-intel-debug, linux-intel-rt-debug
# linux-yocto, linux-yocto-rt, linux-yocto-debug, linux-yocto-rt-debug
PREFERRED_PROVIDER_virtual/kernel = "linux-intel"

# Kernel versions: only 5.4 is supported and is set by default
#PREFERRED_VERSION_linux-intel = "5.4%"
#PREFERRED_VERSION_linux-intel-rt = "5.4%"
#PREFERRED_VERSION_linux-intel-debug = "5.4%"
#PREFERRED_VERSION_linux-intel-rt-debug = "5.4%"
#PREFERRED_VERSION_linux-yocto = "5.4%"
#PREFERRED_VERSION_linux-yocto-rt = "5.4%"
#PREFERRED_VERSION_linux-yocto-debug = "5.4%"
#PREFERRED_VERSION_linux-yocto-rt-debug = "5.4%"

# Add simicsfs-client support (sources should be in meta-intel-vcn/download)
DISTRO_FEATURES_append = " simicsfs"

# Enable "multilib"
#DISTRO_FEATURES_append = " multilib"

# Enable GCC8 feature for the previous version of gcc
#DISTRO_FEATURES_append = " gcc8"

# Release version should be the meta-intel-axxia repository tag from release note.
# RELEASE_VERSION = "" 

BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()}"

# Assume directories were created at the same level with poky
# DL_DIR = "##OEROOT##/../downloads"
# SSTATE_DIR = "##OEROOT##/../sstate_cache"

DISTRO = "intel-axxia"
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
PACKAGECONFIG_append_pn-qemu-native = " sdl"
PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"
CONF_VERSION = "1"

# For more options check meta-intel-vcn layer for README and 
# conf/local.conf.sample.extended
