#.........................................................................
#                                WARNING
#
# This file is a kernel configuration fragment, and not a full kernel
# configuration file.  The final kernel configuration is made up of
# an assembly of processed fragments, each of which is designed to
# capture a specific part of the final configuration (e.g. platform
# configuration, feature configuration, and board specific hardware
# configuration).  For more information on kernel configuration, please
# consult the product documentation.
#
#.........................................................................

#
# Processor support
#
CONFIG_RWSEM_XCHGADD_ALGORITHM=y

#
# RCU Subsystem
#
# CONFIG_RCU_BOOST is not set

#
# Kernel Performance Events And Counters
#
CONFIG_SLUB_DEBUG=y

#
# IO Schedulers
#
CONFIG_UNINLINE_SPIN_UNLOCK=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
