config SIMICSFS
       tristate "Simics hostfs"
       help
          This filesystem allows Simics to acces the host filesystem.

          To compile this file system support as a module, choose M here. The
          module will be called simicsfs.

          If unsure, say N.

config SIMICSFS_ADDRESS
       string "SimicsFS physical address"
       depends on SIMICSFS
       help
          The default address at which the Simics hostfs module is mapped.
          Can be overriden by setting the phys_addr module parameter.

          If you are not sure, leave it blank.
